:root{
  --yellow: #F1C400;
  --black: #212121;
  --orange:#E99200;
  font-family: 'Bebas Neue', sans-serif;
}
body{
  background: url(bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: var(--yellow);
}
#title{
  font-size: 6.5em;
  text-align: center;
  margin-bottom: 0px;
}
.set{
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;

}
button{
  width:100px;
  height: 100px;
  font-family: 'Arvo', monospace;
  font-size: 3em;
  margin: .5em;
  opacity: 50%;
  background: var(--black);
  color: var(--yellow);
  outline: none;
  border: none;
  border-radius: 8px;
}
button:hover{
  opacity: 100%;
}
button:active{
  background:var(--orange);
}
.pressed{
  animation-name: press;
  animation-duration: 100ms;
}
@keyframes press {
  0%{
    opacity:0%;
    background-color: var(--orange);
  }
  100%{
    opacity: 100%;
    background-color: var(--orange);
  }
}
